
.about{
    background-color: #f1f5f4;
    height: 550px; 
    
}
.about-header{
    text-align: center;
    margin-bottom: 35px;
    margin-top: 35px;
}
.about-container{
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    height: auto;
    
}
.stack{
    width: 80px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

span{
    margin-top: 10px;
}