.hamburger{
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    cursor: pointer;
    padding-left: 7px;
    
   
    appearance: none;
    background: rgba(128, 136, 144, 0.5);
    outline:none;
    border:none;
    

}

.hamburger-right{
    position: relative;
    left: 80%;
    display: block;
    width: 45px;
    height: 45px;
    cursor: pointer;
    padding-left: 7px;
    appearance: none;
    background: rgba(128, 136, 144, 0.5);
    outline:none;
    border:none;
}

.hamburger .bar, .hamburger:after, .hamburger:before{
    content:'';
    display: block;
    width: 80%;
    height: 5px;
  
    background-color: rgb(165, 145, 145);
    margin:6px 0px;
    transition:0.4s;

}

